@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Baloo+Bhaina+2&family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
.background{
    background: rgba(0,0,0,0.7) url(../res/bg.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
#navbar{
    display: flex;
    align-items: center;
    z-index: 1;
}
#navitems{
    display: flex;
    width: 76%;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
}
#logo img{
    height: 35px;
    width: 75px;
    filter: invert(93%);
}
#navitems li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
#navitems li a{
    text-decoration: none;
    font-family: 'Baloo Bhaina 2', cursive;
    display: block;
    color: white;
    padding: 16px 25px;
    font-size: 1.1rem;
}
#navitems li a:hover{
    color: rgba(255, 255, 255, 0.822);
}
#searchbar{
    justify-content: right;
    align-items: center;
}
#search{
    border: 1px solid white;
    background: white;
    outline: none;
    color: rgba(0, 0, 0, 0.801);
    height: 24px;
    width: 15vw;
    padding: 1px 5px;
}
#searchbtn{
    background-color:  transparent;
    border: 1px solid white;
    padding: 4.1px 10px;
    font-size: 1rem;
    color: white;
    outline: none;
    cursor: pointer;
    position: relative;
    top: 1px;
    right: 4px;
}
#searchbtn:hover{
    color: black;
    background-color: white;
}
.mainbox{
    display: flex;
    height: 70vh;
}
.stbox{
    display: flex;
    width: 60vw;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.ndbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ndbox img{
    border: 2px solid rgba(255, 255, 255, 0.411);
    border-radius: 16px;
    height: 50%;
    width: 60%;
    margin-left: 23px;
}
#heading{
    color: white;
    font-size: 2rem;
    padding-right: 17px;
    padding-bottom: 3px;
    font-family: 'Open Sans', sans-serif;
}
#para{
    color: rgba(255, 255, 255, 0.925);
    font-size: 1rem;
    padding-left: 312px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.mainboxbutton{
    padding-right: 370px;
    padding-top: 7px;
}
.mainboxbtn{
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.801);
    outline: none;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
}
#mainboxbtn2{
    margin-left: 3px;
}
.mainboxbtn:hover{
    color: black;
    background: white;
}
.secondsec{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.secondsec a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    padding: 0px;
    margin: 0px;
    font-family: 'Lexend', sans-serif;
}
.secondsec a i{
    font-size: 3rem;
    padding: 0px 14px;
}
#cardsec{
    background: url(../res/down.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
}
.cards{
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
}
h2{
    font-size: 2rem;
    margin-bottom: 10px;
}
.firstcard{
    display: flex;
}
.firstcard .big{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75vw;
    font-family: 'Titillium Web', sans-serif;
}
.firstcard .big p{
    color: rgba(0, 0, 0, 0.829);
}
.firstcard .small{
    display: flex;
    justify-content: center;
    width: 25vw;
}
.firstcard .small img{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    margin-left: 40px;
}
.secondcard{
    display: flex;
    margin: 30px 0px;
}
.secondcard .big{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75vw;
    margin-left: 40px;
    font-family: 'Titillium Web', sans-serif;
}
.secondcard .big p{
    color: rgba(0, 0, 0, 0.829);
}
.secondcard a{
    text-decoration: underline rgba(0, 0, 0, 0.76);
    color: black;
}
.secondcard .small{
    display: flex;
    justify-content: center;
    width: 25vw;
}
.secondcard .small img{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
}

.bigbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.bigbutton button{
    background: #13161F;
    color: white;
    border: none;
    outline: none;
    padding:15px 45px;
    font-size: 1rem;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 40px;
    cursor: pointer;
}
.bigbutton button:hover{
    background: rgba(0, 0, 0, 0.803);
}
footer .foot{
    background: #13161F;
    display: flex;
    align-items: center;
    color: white;
    height:10vh;
}
.copy{
    display: flex;
    width: 50vw;
    padding-left: 300px;
    font-family: 'Titillium Web', sans-serif;
    color: rgba(255, 255, 255, 0.603);
}
.net{
    display: flex;
    align-items: center;
    width: 50vw;
    justify-content: flex-end;
    padding-right: 300px;
    font-family: 'Titillium Web', sans-serif;
    color: rgba(255, 255, 255, 0.603);
}